body {
  font-family: "Roboto", sans-serif;
  color: var(--general-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.a {
  text-decoration: none;
  color: var(--general-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .header__list {
    margin-left: 88px;
  }
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.076;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  padding: 16px 0 16px 0;
}
@media screen and (min-width: 480px) {
  .header__logo {
    padding: 16px 0 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 24px 0px 25px 0;
    line-height: 1.19;
  }
}

.header__logo-s {
  color: var(--general-color);
}

.header__item {
  display: none;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0 32px 0;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover {
  color: var(--hover-color);
}
.header__item:focus {
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .header__item {
    display: inherit;
  }
}

.current {
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .current::before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--hover-color);
    border-radius: 4px;
    position: absolute;
    bottom: -2px;
  }
}

.page-anim::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--hover-color);
  border-radius: 4px;
  position: absolute;
  bottom: -3px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-anim::before:hover::before {
  opacity: 1;
}

.header-contact {
  display: flex;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contact {
    flex-wrap: wrap;
    flex-direction: column;
    display: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    flex-wrap: inherit;
    flex-direction: inherit;
  }
}
.header-contact .header-contact__mail,
.header-contact .header-contact__tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-contact .header-contact__mail,
.header-contact .header-contact__tel {
    padding: 5px 0 5px 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact .header-contact__mail,
.header-contact .header-contact__tel {
    padding: 32px 0 32px 0;
    margin-right: 30px;
  }
}

.header-contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact__item .header-contact__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: #757575;
}
.header-contact__item .header-contact__tel {
  margin-right: 0;
}

.header-contact__item:hover .header-contact__svg {
  fill: var(--hover-color);
}

.header-contact__item:hover .header-contact__tel {
  color: var(--hover-color);
}

.header-contact__item:hover .header-contact__mail {
  color: var(--hover-color);
}

.header__btn {
  display: none;
}
.header__btn:hover .header__svg, .header__btn:focus .header__svg {
  fill: #2196f3;
}
.header__btn .header__svg {
  fill: black;
}
.header__btn .header__svg-close {
  display: none;
}
@media screen and (max-width: 480px), (max-width: 767px) {
  .header__btn {
    display: inherit;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.header__btn.is-open {
  z-index: 2;
  position: fixed;
}
.header__btn.is-open .header__svg-menu {
  display: none;
}
.header__btn.is-open .header__svg-close {
  display: inherit;
  position: absolute;
  top: 0;
  right: 0;
}

.header-mobile.is-open {
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  opacity: 1;
  pointer-events: all;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.header-mobile__list {
  margin: 48px 0 0 40px;
}

.header-mobile__item {
  margin-bottom: 32px;
}

.header-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
}
.header-mobile__link:hover {
  color: #2196f3;
}

.header-mobile-contact {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-left: 40px;
}

.header-mobile-contact__tel {
  margin-bottom: 32px;
  color: #2196f3;
}

.header-mobile-contact__mail {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mobile-social_list {
  display: flex;
  flex-wrap: wrap;
  margin: 64px 0 48px 40px;
}
.header-mobile-social_list .header-mobile-social__item {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.header-mobile-social_list .header-mobile-social__item:last-child .header-mobile-social__link:after {
  border: none;
}

.header-mobile-social__link {
  color: #2196f3;
  margin-right: 10px;
  padding: 10px 0 10px 0;
}
.header-mobile-social__link:after {
  content: "";
  height: 22px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.no-scroll {
  overflow: hidden;
}

.hero {
  background: var(--work-color);
}
@media screen and (min-width: 1200px) {
  .hero {
    margin: 0 auto;
  }
}

.hero-sec {
  margin-bottom: 60px;
  max-width: 480px;
  height: 400px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header_mobile.jpg");
}
@media screen and (min-width: 480px) {
  .hero-sec {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header_mobile.jpg");
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-sec {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-sec {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header_table.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-sec {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_table-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-sec {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/ImgOverlay.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-sec {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-desktop@2x.jpg);
  }
}

.hero-three {
  padding-top: 0;
}

.hero__title {
  padding-top: 118px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__title {
    padding-top: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

.hero__btn {
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover {
  background-color: var(--main-btn-backgroung-color);
}
.hero__btn:focus {
  background-color: var(--main-btn-backgroung-color);
}

/* --------------------------- Form ------------------------------------ */
.benefits {
  margin-bottom: 60px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    flex-wrap: nowrap;
  }
}
.benefits__list .benefits__svg {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}
.benefits__list .benefits__title {
  color: var(--general-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__list .benefits__text {
  line-height: 1.71;
  color: var(--address-color);
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}

.team-back {
  background: var(--background-color);
  padding-bottom: 60px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__item {
  width: 100%;
  background-color: var(--work-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item img {
    width: 270px;
  }
}

.team-div__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--general-color);
  margin-bottom: 10px;
  text-align: center;
  padding-top: 20px;
}

.team-div__text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--address-color);
  text-align: center;
}

.team-div__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 24px;
}

.team-div__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-div__link:hover {
  background-color: var(--hover-color);
}
.team-div__link:focus {
  background-color: var(--hover-color);
}

.team__item:last-child {
  margin-bottom: 0;
}

.team-div__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.team-div__link:hover .team-div__svg,
.team-div__link:focus .team-div__svg {
  fill: var(--work-color);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 60px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 94px;
  }
}

.clients__link {
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border-color: var(--hover-color);
}

.clients__item {
  height: 92px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

.clients__svg {
  align-content: center;
  max-width: 106px;
  max-height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients__link:hover .clients__svg {
  fill: var(--hover-color);
}

.footer {
  background: var(--main-background-color);
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0 0 0;
  }
}

.footer-con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-con {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-con {
    align-items: baseline;
    max-width: 1200px;
    align-items: center;
  }
}

.footer__div {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__div {
    text-align: start;
  }
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.82;
  color: var(--hover-color);
}
.footer__logo .footer__logo-s {
  color: var(--background-color);
}

.footer-div__list {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}

.footer-div__item + .footer-div__item {
  margin-left: 10px;
}

.footer-div__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-div__link:hover {
  background-color: var(--hover-color);
}
.footer-div__link:focus {
  background-color: var(--hover-color);
}

.footer-div__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--work-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-div__title {
    text-align: start;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer__list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: start;
  }
}

.footer__item {
  margin-bottom: 8px;
}
.footer__item:last-child {
  margin-bottom: 0;
}

.footer__text {
  font-style: normal;
  line-height: 1.71;
  color: var(--work-color);
}

.footer__real {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    width: 570px;
    display: flex;
    margin-left: auto;
    flex-direction: row;
    margin-bottom: 40px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  background-color: var(--main-background-color);
  padding-left: 16px;
  color: var(--work-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  background-color: var(--main-btn-backgroung-color);
  color: var(--work-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.footer-form__btn::after {
  content: "";
  float: right;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  margin-left: 10px;
}

.footer-form__label {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    width: auto;
  }
}

.portfolio-btn__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio-btn__list {
    justify-content: center;
  }
}

.portfolio-btn {
  margin-top: 60px;
}

.portfolio-btn__item {
  margin-right: 8px;
  margin-bottom: 15px;
}
.portfolio-btn__item:last-child {
  margin: 0;
}

.portfolio-btn__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: var(--background-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn__btn:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn__btn:focus {
  background-color: var(--hover-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-port {
  background: var(--hover-color);
  color: var(--work-color);
}

.portfolio-card__list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.portfolio-card__item:hover .portfolio-card__text {
  transform: translateY(0);
}

.portfolio-card__div {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .portfolio-card__div {
    width: 354px;
  }
}

.portfolio-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__parag {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--address-color);
}

.portfolio-card__overlay {
  position: relative;
  overflow: hidden;
  max-width: 450px;
}
.portfolio-card__overlay img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio-card__overlay {
    width: 354px;
  }
}

.portfolio-card__text {
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

:root {
  --general-color: #212121;
  --work-color: #ffffff;
  --hover-color: #2196f3;
  --background-color: #f5f4fa;
  --address-color: #757575;
  --main-background-color: #2f303a;
  --main-btn-backgroung-color: #188ce8;
  --typical-margin: 30px;
}

/* -------------------------------- modal -------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: var(--work-color);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal .modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--work-color);
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin: 0 auto;
}
.modal-form .modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.modal-form .modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}
.modal-form .modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: #188ce8;
  outline: none;
}
.modal-form__input:focus ~ .modal-form__svg {
  fill: var(--hover-color);
}

.modal-form__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: calc(22vh - 50px);
  padding: 12px 16px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  border-color: #188ce8;
  outline: none;
}

.modal-form__comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__label textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--address-color);
  padding: 12px 16px;
}

.modal-checkbox {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-checkbox input[type=checkbox] {
  margin-right: 7px;
}

.modal-form__btn {
  background: var(--hover-color);
  border-radius: 4px;
  color: var(--background-color);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__svg {
  position: absolute;
  top: 50%;
  left: 1px;
  opacity: 1;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__svg {
    left: 12px;
  }
}

.modal-checkbox__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: 24px;
  text-align: center;
}
.modal-checkbox__label .modal-checkbox__checkbox {
  appearance: none;
  position: absolute;
}
.modal-checkbox__label .modal-checkbox__license {
  color: #2196f3;
}
.modal-checkbox__label .modal-checkbox__svgcheck {
  position: absolute;
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__label {
    font-size: 14px;
  }
}

.modal__btn-close {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__btn-close {
  fill: var(--hover-color);
}

.modal-checkbox__checkbox:checked ~ .checkbox-svg {
  position: absolute;
  opacity: 0;
}

.modal-checkbox__checkbox:checked ~ .modal-checkbox__svgcheck {
  position: absolute;
  top: 50%;
  left: 1px;
  opacity: 1;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__checkbox:checked ~ .modal-checkbox__svgcheck {
    left: 12px;
  }
}

/* Work */
.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: initial;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  margin-bottom: 94px;
}

.work__item {
  position: relative;
  margin-right: var(--typical-margin);
}

.work__item:last-child {
  margin-right: 0;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--work-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */