.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.076;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  padding: 16px 0 16px 0;
  @media screen and (min-width: 480px) {
    padding: 16px 0 16px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 24px 0px 25px 0;
    line-height: 1.19;
  }
}

.header__logo-s {
  color: var(--general-color);
}

.header__item {
  display: none;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0 32px 0;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--hover-color);
  }
  &:focus {
    color: var(--hover-color);
  }
  @media screen and (min-width: 768px) {
    display: inherit;
  }
}

.current {
  color: var(--hover-color);
  @media screen and (min-width: 768px) {
    &::before {
      content: "";
      height: 4px;
      width: 100%;
      background-color: var(--hover-color);
      border-radius: 4px;
      position: absolute;
      bottom: -2px;
    }
  }
}

.page-anim::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--hover-color);
  border-radius: 4px;
  position: absolute;
  bottom: -3px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover::before {
    opacity: 1;
  }
}

.header-contact {
  display: flex;
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    display: inherit;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: inherit;
    flex-direction: inherit;
  }
  .header-contact__mail,
  .header-contact__tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--address-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      padding: 5px 0 5px 0;
      margin-right: 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 32px 0 32px 0;
      margin-right: 30px;
    }
  }
}

.header-contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  .header-contact__svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
    fill: #757575;
  }
  .header-contact__tel {
    margin-right: 0;
  }
}

.header-contact__item:hover .header-contact__svg {
  fill: var(--hover-color);
}

.header-contact__item:hover .header-contact__tel {
  color: var(--hover-color);
}

.header-contact__item:hover .header-contact__mail {
  color: var(--hover-color);
}

.header__btn {
  display: none;
  &:hover,
  &:focus {
    .header__svg {
      fill: #2196f3;
    }
  }
  .header__svg {
    fill: black;
  }
  .header__svg-close {
    display: none;
  }
  @media screen and (max-width: 480px), (max-width: 767px) {
    display: inherit;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.header__btn.is-open {
  z-index: 2;
  position: fixed;
  .header__svg-menu {
    display: none;
  }
  .header__svg-close {
    display: inherit;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.header-mobile.is-open {
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

.header-mobile__list {
  margin: 48px 0 0 40px;
}

.header-mobile__item {
  margin-bottom: 32px;
}

.header-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  &:hover {
    color: #2196f3;
  }
}

.header-mobile-contact {
  margin-top: 302px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-left: 40px;
}

.header-mobile-contact__tel {
  margin-bottom: 32px;
  color: #2196f3;
}

.header-mobile-contact__mail {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mobile-social_list {
  display: flex;
  flex-wrap: wrap;
  margin: 64px 0 48px 40px;
  .header-mobile-social__item {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .header-mobile-social__item:last-child {
    .header-mobile-social__link:after {
      border: none;
    }
  }
}

.header-mobile-social__link {
  color: #2196f3;
  margin-right: 10px;
  padding: 10px 0 10px 0;
  &:after {
    content: "";
    height: 22px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.no-scroll {
  overflow: hidden;
}
