:root {
    --general-color: #212121;
    --work-color: #ffffff;
    --hover-color: #2196f3;
    --background-color: #f5f4fa;
    --address-color: #757575;
    --main-background-color: #2f303a;
    --main-btn-backgroung-color: #188ce8;
    --typical-margin: 30px;
  }